<h1>BlogEntries</h1>
<%= form_for(@blog_entry) do |f| %>

  <% if @blog_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_entry.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @blog_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


	<div>
		<%= f.label 'Blog Title' %>
		<%= f.text_field :title%>
	</div>
	<div>
		<%= f.label 'Content' %>
		<%= f.text_field :content%>
	</div>
	<div>
		<%= f.label 'published' %>
		<%= f.date_select :published%>
	</div>
<div>
  <label>Categories:</label>
	<%= select_tag 'category_ids', options_from_collection_for_select(Category.all, "id", "name"), { :multiple => true} %>
</div>



	<%= f.submit%>
<%end%>
