<h1>New Category</h1>
<%= form_for(@category) do |f| %>
	<%= f.label 'Category Name' %>
	<%= f.text_field :name%>
	<%= f.label 'Category Description' %>
	<%= f.text_field :description%>
	<%= f.submit%>
<%end%>